@import '../../sass/app'
.nav
    height: 82px
    @include flex-box
    li
        @include flex(1)
        text-align: center
    a
        color: #4d555d
        font-size: 28px
        text-decoration: none
        line-height: 82px
        display: block